In [1]:
# 导入需要的包
library(ggplot2)
library(readxl)
library(dplyr)
library(zoo)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union



Attaching package: 'zoo'


The following objects are masked from 'package:base':

    as.Date, as.Date.numeric

In [2]:
# 读取数据
data <- read_excel("US_PCE_training.xlsx") 

# 将数据转换为数据框
data <- as.data.frame(data)

In [3]:
head(data)

  month                             1      2      3      4      5      6
1 Personal consumption expenditures 15.164 15.179 15.189 15.219 15.227 15.271
2 NA                                    NA     NA     NA     NA     NA     NA
3 NA                                    NA     NA     NA     NA     NA     NA
4 month                              1.000  2.000  3.000  4.000  5.000  6.000
5 New domestic autos                37.337 37.337 37.481 37.409 37.553 37.625
6 New foreign autos                 37.348 37.348 37.492 37.420 37.564 37.636
  7      8      9      ⋯ 723     724     725     726     727     728
1 15.303 15.325 15.365 ⋯ 103.056 103.371 103.426 103.469 103.608 103.661
2     NA     NA     NA ⋯      NA      NA      NA      NA      NA      NA
3     NA     NA     NA ⋯      NA      NA      NA      NA      NA      NA
4  7.000  8.000  9.000 ⋯ 723.000 724.000 725.000 726.000 727.000 728.000
5 37.625 37.553 37.697 ⋯ 100.273 100.503 100.507 100.419 100.271 100.239
6 37.636 37.564 37.708 ⋯ 100.304 100.534 100.538 100.449 100.301 100.269
  729     730     731     732
1 103.754 103.961 103.997 104.282
2      NA      NA      NA      NA
3      NA      NA      NA      NA
4 729.000 730.000 731.000 732.000
5  99.981  99.941  99.815  99.806
6 100.011  99.971  99.845  99.836

In [4]:
# 提取变量名称
var_names <- data[c(1, 5:208), 1]

# 提取数值数据
data_values <- data[c(1, 5:208), -1]

# 将数据转换为矩阵
data_mat <- as.matrix(data_values)

In [5]:
# 计算因变量的对数差分
y <- diff(log(data_mat[1, ])) * 12
y <- c(NA, y)

# 计算自变量的对数差分
x <- apply(data_mat[-1, ], 1, function(x) c(NA, diff(log(x)) * 12))

# 将结果合并为数据框
data_transformed <- data.frame(inflation = y, x)
colnames(data_transformed)[-1] <- var_names[-1]

# 将数据转换为时间序列对象
data_ts <- ts(data_transformed, start = c(1, 1), frequency = 12)

In [6]:
head(data_ts) # 查看数据集的前几行

     inflation   New domestic autos New foreign autos New light trucks
[1,]          NA          NA                 NA                  NA
[2,] 0.011864352  0.00000000         0.00000000       -0.0007398958
[3,] 0.007903056  0.04619215         0.04617857        0.0454189326
[4,] 0.023677987 -0.02307385        -0.02306707       -0.0243497593
[5,] 0.006306247  0.04610342         0.04608989        0.0453394079
[6,] 0.034625245  0.02298545         0.02297873        0.0227892371
     Net transactions in used autos Used auto margin Employee reimbursement
[1,]           NA                            NA               NA
[2,]  0.102295180                    0.18317335      0.077363056
[3,]  0.143224207                   -0.09242664      0.072780303
[4,]  0.065531303                    0.27284594      0.004087194
[5,] -0.001037389                    0.08804828      0.005107035
[6,]  0.107925077                    0.26259253      0.071271209
     Used light trucks Tires        Accessories and parts ⋯
[1,]           NA                NA           NA          ⋯
[2,]  0.091356508      -0.021099937 -0.025997403          ⋯
[3,]  0.135275102      -0.001825194  0.028197986          ⋯
[4,]  0.087327453       0.000260759  0.026814671          ⋯
[5,] -0.001861331      -0.024274862  0.003512238          ⋯
[6,]  0.089019804       0.003396214 -0.029006753          ⋯
     Nonprofit hospitals services to households
[1,]          NA
[2,]  0.00000000
[3,] -0.04394460
[4,]  0.04394460
[5,]  0.07807445
[6,]  0.03108810
     Nonprofit nursing homes services to households
[1,]          NA
[2,]  0.09992051
[3,] -0.01531834
[4,]  0.04589647
[5,]  0.04952388
[6,]  0.05499812
     Recreation services to households Education services to households
[1,]         NA                                NA
[2,] 0.08441397                        -0.1466413
[3,] 0.10051914                        -0.1733776
[4,] 0.12565560                        -0.1422115
[5,] 0.07640717                        -0.1737625
[6,] 0.08988806                        -0.1460290
     Social services to households
[1,]         NA
[2,] -0.3197703
[3,] -0.2472346
[4,] -0.2780725
[5,] -0.2281987
[6,] -0.2685768
     Religious organizations' services to households
[1,]         NA
[2,] -0.2403771
[3,] -0.2032053
[4,] -0.2160917
[5,] -0.2285583
[6,] -0.2405880
     Foundations and grantmaking and giving services to households
[1,]          NA
[2,] -0.26360020
[3,] -0.11411978
[4,] -0.36656390
[5,] -0.32628437
[6,] -0.04458508
     Services of social advocacy establishments to households
[1,]         NA
[2,] -0.3202298
[3,] -0.2469306
[4,] -0.2772059
[5,] -0.2292424
[6,] -0.2707409
     Civic and social organizations' services to households
[1,]         NA
[2,] -0.3202764
[3,] -0.2470794
[4,] -0.2773310
[5,] -0.2288463
[6,] -0.2700401
     Professional advocacy services to households
[1,]          NA
[2,] 0.065499367
[3,] 0.075966792
[4,] 0.084891713
[5,] 0.002685164
[6,] 0.106916845

In [7]:
# 将数据分成训练集和验证集
train_data <- data_ts[2:720, ]
valid_data <- data_ts[721:732, ]

AR(p)模型的定义为:$y_t = c + \phi_1 y_{t-1} + \phi_2 y_{t-2} + ... + \phi_p y_{t-p} + \varepsilon_t$

其中,$y_t$是t时刻的值,$\varepsilon_t$是白噪声,$p$为模型阶数。

In [8]:
# 一个月预测AR(1)模型
ar1_model <- arima(train_data[, 1], order = c(1, 0, 0), include.mean = TRUE)

In [9]:
# 三个月预测AR(3)模型 
ar3_model <- arima(train_data[, 1], order = c(3, 0, 0), include.mean = TRUE)

In [10]:
# 十二个月预测AR(12)模型
ar12_model <- arima(train_data[, 1], order = c(12, 0, 0), include.mean = TRUE)

In [11]:
# 一个月预测
ar1_pred <- predict(ar1_model, n.ahead = 12)$pred
mse1 <- mean((valid_data[, 1] - ar1_pred)^2)
mae1 <- mean(abs(valid_data[, 1] - ar1_pred))

# 三个月预测
ar3_pred <- predict(ar3_model, n.ahead = 12)$pred[seq(3, 12, 3)]  
mse3 <- mean((valid_data[seq(3, 12, 3), 1] - ar3_pred)^2)
mae3 <- mean(abs(valid_data[seq(3, 12, 3), 1] - ar3_pred))

# 十二个月预测
ar12_pred <- predict(ar12_model, n.ahead = 12)$pred[12]
mse12 <- (valid_data[12, 1] - ar12_pred)^2
mae12 <- abs(valid_data[12, 1] - ar12_pred)

# 输出三个模型的MSE和MAE
cat("AR(1) model: MSE =", mse1, ", MAE =", mae1, "\n")
cat("AR(3) model: MSE =", mse3, ", MAE =", mae3, "\n") 
cat("AR(12) model: MSE =", mse12, ", MAE =", mae12, "\n")

AR(1) model: MSE = 0.000273208 , MAE = 0.01384895
AR(3) model: MSE = 0.000148023 , MAE = 0.0106802
AR(12) model: MSE = 0.0001934259 , MAE = 0.01390776

In [12]:
# 举例子，用AR（3）模型来预测733月到782月的数据
final_pred <- predict(ar3_model, n.ahead = 50)$pred
cat("Predicted inflation rates for month 733 to 782:\n")
print(final_pred)

Predicted inflation rates for month 733 to 782:
Time Series:
Start = 720
End = 769
Frequency = 1
 [1] 0.01480017 0.01593754 0.01772087 0.01989810 0.02143530 0.02274715
 [7] 0.02395589 0.02498354 0.02586429 0.02663283 0.02729782 0.02787222
[13] 0.02836976 0.02880049 0.02917319 0.02949578 0.02977500 0.03001666
[19] 0.03022582 0.03040685 0.03056354 0.03069915 0.03081653 0.03091812
[25] 0.03100605 0.03108215 0.03114802 0.03120503 0.03125437 0.03129707
[31] 0.03133404 0.03136603 0.03139372 0.03141768 0.03143843 0.03145638
[37] 0.03147192 0.03148537 0.03149701 0.03150708 0.03151580 0.03152335
[43] 0.03152988 0.03153553 0.03154043 0.03154466 0.03154833 0.03155150
[49] 0.03155425 0.03155662